* {
  margin: 0;
  padding: 0;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Arial", sans-serif;
  overflow-x: hidden;
}
/*------ Navigation bar--------*/
nav {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  position: absolute;
  gap: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 6px;
  position: relative;
}
/* --------menue Style-------*/

.manue {
  display: flex;
  list-style: none;
  gap: 30px;
  justify-items: center;
  align-items: center;
}

.manue li a {
  text-decoration: none;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
}
.icon-button-search-global {
  background-color: #bdbd0c;
  border-style: none;
  border-radius: 50%;
  align-items: center;
  justify-items: center;
  padding: 10px 10px 8px 10px;
  margin-top: 0px;
}
.search-icon {
  fill: #ffffff;
}

/* --- Hero section--- */
.slideshow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -2;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  z-index: -2;
  animation: imageAnimation 15s infinite linear;
}

/* ---IMAGE SETTINGS ---*/
.slideshow li:nth-child(1) {
  background-image: url("../Images/hero-section-back-img.jpg");
}
.slideshow li:nth-child(2) {
  background-image: url("../Images/hero-section-back-img-2.jpg");
  animation-delay: 5s;
}
.slideshow li:nth-child(3) {
  background-image: url("../Images/hero-section-back-img-3.jpg");
  animation-delay: 15s;
}
.slideshow li:nth-child(4) {
  background-image: url("../Images/hero-section-back-img-4.jpg");
  animation-delay: 20s;
}
.slideshow li:nth-child(5) {
  background-image: url("../Images/hero-section-back-img-5.jpg");
  animation-delay: 25s;
}
.slideshow li:nth-child(6) {
  background-image: url("../Images/hero-section-back-img-6.jpg");
  animation-delay: 30s;
}
/* --- ANIMATION KEYFRAMES --- */
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  33% {
    opacity: 1;
  }
  43% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* --- GRADIENT OVERLAY--- */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.3)
  );
}
/*----------the content.........*/
.hero-container {
  position: relative;
  z-index: 1; /* Puts text on top of everything */
  color: white;
  text-align: center;
  padding-top: 280px;
  padding-bottom: 50px;
}

.hero-container h1 {
  font-size: 36px;
  font-family: "Century Gothic", sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.hero-container h6 {
  font-size: 24px;
  font-weight: 200px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 30px;
}

/* buttons style*/
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.hero-buttons a {
  padding: 12px 20px 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-family: Arial;
  font-weight: 600;
  font-size: 16px;
  justify-content: center;
}
.hero-buttons i {
  margin-left: 10px;
}
.button-partner {
  background-color: #5f0160;
  color: rgb(255, 255, 255);
}
.button-explore {
  background-color: #bdbd0c;
  color: rgb(255, 255, 255);
}
.button-hire {
  background-color: #ffffff;
  color: #5f0761;
}

/* <!-- first body content-->*/
.first-body-content {
  display: flex;
  gap: 10px;
  padding: 70px 0px 50px 70px;

  align-items: center;
  align-content: center;
  background-color: #e8edf1;
  justify-content: space-between;
}
.text-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.text-box h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 28px;
  font-weight: 900;
  color: #5f0160;
  margin-bottom: 20px;
}
.text-box h3 {
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #0ab7bd;
  margin-bottom: 10px;
}
.text-box p {
  width: 500px;
  line-height: 0.8cm;
  font-family: century gothic, sans-serif;
}
.text-box a {
  background-color: #bdbd0c;
  color: white;
  padding: 12px 20px 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-family: Arial;
  font-weight: 600;
  font-size: 16px;
  justify-content: center;
  width: 120px;
  margin-top: 40px;
}
.image-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.image-box img {
  width: 500px;
  height: auto;
}
/*-- ----------------coursess section -------------------*/
.featured-courses-section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-items: center;
}
.featured-courses-section h6 {
  margin-top: 50px;
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #0ab7bd;
  margin-bottom: 15px;
}
.featured-courses-section h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 28px;
  font-weight: 900;
  color: #5f0160;
  margin-bottom: 30px;
}
.featured-courses-container {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  gap: 40px;
  align-items: center;
}

.featured-courses {
  flex: 1;
  text-align: left;
}
.featured-courses img {
  width: 350px;
  height: auto;
}
.featured-courses h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #5f0160;
  margin-bottom: 15px;
  margin-top: 15px;
}
.featured-courses p {
  width: 350px;
  line-height: 0.8cm;
  font-family: century gothic, sans-serif;
}
.featured-courses button {
  background-color: #bdbd0c;
  color: white;
  padding: 12px 20px 10px 20px;
  border-style: none;
  border-radius: 8px;
  text-decoration: none;
  font-family: Arial;
  font-weight: 600;
  font-size: 16px;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 50px;
}
/* <!-- Second body content-->*/
.second-body-content {
  display: flex;
  gap: 10px;
  padding: 60px 0px 50px 60px;

  align-items: center;
  align-content: center;
  background-color: #edf0f3;
  justify-content: space-between;
  margin-bottom: 70px;
}
.second-text-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.second-text-box h2 {
  font-family: "Century Gothic", sans-serif;
  font-size: 28px;
  font-weight: 900;
  color: #0f5395;
  margin-bottom: 20px;
}
.second-text-box h3 {
  font-family: "Century Gothic", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #002a48;
  margin-bottom: 10px;
  width: 500px;
}
.second-text-box p {
  width: 500px;
  line-height: 0.8cm;
  font-family: century gothic, sans-serif;
}
.second-text-box img {
  width: 150px;
  height: auto;
}
.second-text-box a {
  background-color: #bdbd0c;
  color: white;
  padding: 12px 20px 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-family: Arial;
  font-weight: 600;
  font-size: 16px;
  justify-content: center;
  width: 120px;
  margin-top: 40px;
}
.second-image-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.second-image-box img {
  width: 500px;
  height: auto;
}
/*----------------- Main Footer Structure --------------------*/
.site-footer {
  position: relative;
  background-image: url("../Images/pattren-img.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 30px 0 10px 0px;
  font-size: 14px;
  text-align: left;
}

/* Footer Overlay Gradient */
.site-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 1, 28, 0.653),
    rgba(65, 1, 70, 0.4)
  );
  z-index: 1;
}

.footer-container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 0 40px;
}

.footer-column {
  flex: 1;
  margin-bottom: 30px;
}

.footer-column h3 {
  color: #0ab7bd;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer-column p {
  line-height: 1.6;
  color: #ffffff;
  font-size: 16px;
  font-family: century gothic, sans-serif;
  margin-bottom: 30px;
}

/* Links List */
.footer-column ul {
  list-style: none;
  padding: 0;
  line-height: 1.6;
  font-size: 16px;
  font-family: century gothic, sans-serif;
}

.footer-column ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* ---------- Contact Info -----------*/
.contact-info li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 7px;
  color: #ffffff;
}

.contact-info i {
  color: #0ab7bd;
  width: 20px;
  margin-bottom: 7px;
}
/*---------Visit us--------*/
.column-for-button {
  color: #0ab7bd;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
  font-family: century gothic, sans-serif;
}

/* --------- Social Media Icons------------- */
.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: rgb(255, 255, 255);
  color: #5f0160;
  margin-right: 10px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 18px;
}

.social-icons a:hover {
  background: #0ab7bd;
  color: #5f0160;
  transform: translateY(-5px);
}

/* Bottom Copyright */
.footer-bottom {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.817);
  color: #ffffff;
  font-weight: 400;
  font-family: century gothic, sans-serif;
  font-size: 16px;
}
